<h1>Editing contact</h1>

<%= error_messages_for :contact %>

<% form_for(@contact) do |f| %>
  <p>
    <b>Forename</b><br />
    <%= f.text_field :forename %>
  </p>

  <p>
    <b>Surname</b><br />
    <%= f.text_field :surname %>
  </p>

  <p>
    <b>D.O.B.</b><br />
    <%= f.date_select :dob, :start_year => 1900 %>
  </p>

  <%= f.hidden_field :user_id %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<table>
  <tr>
    <th>Type</th>
    <th>Number</th>
  </tr>

<% for telno in @contact.telephone_numbers %>
  <tr>
    <td><%=h telno.teltype %></td>
    <td><%=h telno.telnum %></td>
    <td><%= link_to 'Edit', edit_contact_telephone_number_path(@contact.id, telno.id) %></td>
    <td><%= link_to 'Destroy', contact_telephone_number_path(@contact.id, telno.id), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Show', @contact %> |
<%= link_to 'Back', contacts_path %>
