<p>
  <b>Forename:</b>
  <%=h @contact.forename %>
</p>

<p>
  <b>Surname:</b>
  <%=h @contact.surname %>
</p>

<p>
  <b>Dob:</b>
  <%=h @contact.dob.to_s(:long) %>
</p>

<p>
  <b>Days until birthday:</b>
  <%=h days_until(@contact.dob) %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
